<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
  <md-card >
    <md-card-header>
      <md-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
    <md-card-content>
      <p>{{dish.description}}
      </p>

    </md-card-content>
    <md-card-actions>
      <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
      <button md-button (click)="goBack()">BACK</button>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
      <span class="flex-spacer"></span>
      <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
    </md-card-actions>
  </md-card> 
</div>

<div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <md-card >
        <md-card-header>
          <md-card-title>
            <h2>Comments</h2>
          </md-card-title>
        </md-card-header>
  <md-list *ngFor="let comment of dish.comments">
   
    <md-list-item >
        <h3 mdLine> {{comment.comment}} </h3>
        <h3 mdLine> {{comment.rating}} Stars </h3>
        <h3 mdLine> --{{comment.author}} {{ comment.date | date }} </h3>
      </md-list-item>
      
  </md-list>

   <md-list >
      <md-list-item *ngIf="feedbackForm.valid">
      <h3 mdLine>{{ feedbackForm.value.feedback | json }}  </h3>
      <h3 mdLine> {{ feedbackForm.value.rating | json }} Stars </h3>
      <h3 mdLine> --{{ feedbackForm.value.author | json }} </h3>
    </md-list-item>
      
     </md-list> 
  </md-card>


  <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <p>
        <md-input-container class="full-width"  dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
         <input mdInput  placeholder="Name" formControlName="author" type="text" required>
       
       <md-hint>
          <span [hidden]="!(formErrors.author)">
            {{formErrors.author}}</span>
        </md-hint>
      </md-input-container>
    </p>
    <p>
        <md-slider min="1" max="5" step="1" value="5" formControlName="rating" thumbLabel tickInterval="1"></md-slider>
    </p>
    <p>
        <md-input-container class="full-width" dividerColor="{{(formErrors.feedback) ? 'warn' : 'primary'}}">
          <textarea mdInput  placeholder="Your Comment" formControlName="feedback" rows=12 required></textarea>
          <md-hint>
              <span [hidden]="!(formErrors.feedback)">
                {{formErrors.feedback}}</span>
            </md-hint>
        </md-input-container>
        
     </p>   
      <div>
        <button type="submit" md-button class="background-primary text-floral-white" 
        [disabled]="feedbackForm.invalid">Submit</button>
      </div> 
  </form>
</div>
<div [hidden]="dish || errMess">
  <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>

</div>